html{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(121, 121, 150);
}

#family{
    text-align:center;
}

.oceanfloor a.designer{
    display:inline;
    color:orange;
}

.oceanfloor {
    background:url('../images/oceanfloor.jpg');
    background-repeat: repeat-x;
    font-family:"Verdana";
    padding:10px 50px;
}

.oceanfloor li{
    text-decoration: underline;
}

h4{
    font-style: italic;
    text-decoration-line:underline;
}
#california {
    background-image: url('../images/giphy_sfo.jpg'),url('../images/golden_gate_bridge.jpg');
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    border-bottom: darkgreen;
}
p{
  color:black;
}
#header-text{
    /*text-decoration:underline;*/
    font-family:"Arial";
    border-bottom-color:darkgreen;
    border-bottom-style:solid;
}
#arizona {
    background-image: url('../images/Antelope_Canyon.jpg'),url('../images/light_background.jpg');
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    border-bottom: darkgreen;
}
